* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins"

}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    background-image: url(https://media2.giphy.com/media/ITRemFlr5tS39AzQUL/giphy.gif?cid=ecf05e47nxtj0tusfsszvqhvh0u6kqoaeg0yd6lul5pkdg6m&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    text-align: center;
    z-index: 99;
}

.content h1 {
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;
}

.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover {
    background-color: #fff;
    color: #000;

}

.divider {
    box-shadow: 0 -50px 300px 100px #000000;
    width: 100%;

}



.Team{
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#2813ce,#0f051d);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}
.team-content img{
    width:100% ;
    height: auto;
    border-radius: 15px;
    margin-bottom:15px ;
}

.center h1{
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.box {
    padding:16px ;
    background: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;

}

.box h3{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;

}

.box h5{
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 2px;

}
body{
    background: radial-gradient(#2813ce,#0f051d);
}

.Icon i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}


.Icon i:hover{
    transform: scale(1.2);
}

.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
@media(max-width :1240px) {
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2;
    }

    .center h1{
        font-size: 3.2rem;
    }
}

